.company-list {
  list-style-type: none;
}

.company-list-item {
  display: inline-block;
  width: 32.9%;
}

.company-list-item img {
  width: 100%;
}

.button-wrapper {
  background: none;
  border: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  background: white;
  border: 2px solid black;
  top: 200px;
  left: 0px;
  right: 0px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  overflow: scroll;
}
